PORT=
NODE_ENV=


DB_URL=



ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_EXPIRES=
REFRESH_EXPIRES=
RESET_SECRET=
RESET_EXPIRES=
FRONT_END_URL=
VERIFIED_TOKEN=
BCRYPT_SALT_ROUND=



CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

